# dotenv
.env
deploy/.env
# sass cache
.sass-cache/
# css sourcemaps
*.css.map
# executable got from `go build .`
/pixivfe
# custom dev script
dev.sh
# not sure what this is for (VnPower: https://github.com/air-verse/air)
/tmp
# exclude changes to pixivfe_token.txt
docker/pixivfe_token.txt
# i18n debug artifacts
i18n/*_strings.json
# output from sonar-scanner-cli
.scannerwork
# tailwind compiled source
# assets/css/tailwind-style.css
# npm artifacts
node_modules/
package.json
package-lock.json
.aider*
# macOS .DS_Store files
.DS_Store
*/.DS_Store
# Editor configuration
.vscode/