{* head elements that should be present on all pages *}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="/css/tailwind-style.css?hash=d30cabae" />

<link href="/img/favicon.png" rel="icon" />

<script src="/js/htmx@2.0.4.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" defer></script>
<script src="/js/response-targets@2.0.3.min.js" integrity="sha512-QzwJJs5KJujABALi59olWpdxbS/bnYLcC8d3L/CbVWbXVDXpon87/5q1Jl1xNrjS1xJ/LlAkmuWJnPLtGKSnyQ==" defer></script>
<script src="/js/on-page-load.js" defer></script>
<script src="/js/illust-preview.js" defer></script>

<meta name="htmx-config" content='{"defaultSettleDelay":0}'>
