{{- range . -}}
  {{- hide := shouldHide(CookieList, .) -}}
  {{- if !hide -}}
    <div class="flex flex-col h-fit col-span-1 gap-2">
      {{- if .ID == "#" -}}
        <!-- Replicate the thumbnail-dt structure -->
        <div class="relative w-full overflow-visible rounded drop-shadow group-active/image:scale-[0.975] group-outline-glow">
          <img
            src="/img/deleted.png"
            alt="Deleted or Private"
            class="size-full rounded"
            loading="lazy"
          />
        </div>

        <!-- Replicate the thumbnail-tt structure -->
        <div
          class="block w-fit max-w-full text-neutral-400 font-semibold truncate"
        >
          {{- .Title -}}
        </div>

        <!-- Replicate the thumbnail-at structure -->
        <div class="flex items-center gap-1.5 -mt-0.5">
          <img
            src="/img/deleted.png"
            alt="Deleted or Private"
            class="aspect-square object-cover rounded-full size-6 max-h-6 max-w-6"
            width="24px"
            height="24px"
            loading="lazy"
          />
        <div
          title="{{- .UserName -}}"
          class="block w-fit max-w-full text-neutral-400 truncate"
        >
          {{- .UserName -}}
        </div>
      </div>
      {{- else if .ID -}}
        {{- include "twThumbnail-dt" . -}}
        {{- include "twThumbnail-tt" . -}}
        {* spaghetti conditionals *}
        {{- if isFirstPathPart (CurrentPath, "/users") == false || (isFirstPathPart (CurrentPath, "/users") == true && isLastPathPart (CurrentPath, "/bookmarks") == true) -}}
          {{- if CurrentPath != "/discovery/users" -}}
            {{- include "twThumbnail-at" . -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}
